@import 'colors';

$input-base-height: 42px;
$input-padding: 4px;
$input-font-size: 25px;
$input-text-color: $primary-color;
$input-border-color: $aux-color;

$token-upper-gap: 4px;
$token-bg-opacity: 0.5;
$token-border-radius: 2px;
