@use 'sass:color';

@import 'src/styles/meta';

.token {
  &-inner {
    height: 100%;
    display: inline-block;
    flex-direction: column;

    border-radius: $token-border-radius;
    border-width: 0px;
    border-style: dashed;

    position: relative;
    opacity: $token-bg-opacity;

    &::after {
      content: attr(data-role);
      height: $role-height;
      font-size: $role-font-size;
      font-family: monospace;

      color: $input-text-color;

      position: absolute;
      line-height: initial;
      top: 0px;
      right: 0px;
      padding: 0 $role-padding;
      border-radius: $token-border-radius $token-border-radius 0px 0px;
    }
  }

  > ul.variants {
    display: none;
    color: black;
    background-color: white;
    opacity: 1;
    list-style: none;
    margin-top: 5px;
    padding: 0px;
    line-height: normal;

    > li.current {
      text-decoration: underline;
      background-color: lightgrey;
    }
  }

  &.focused {
    & > .token-inner {
      opacity: 1;
    }

    > ul.variants {
      display: block;
    }
  }
}
