.token {
  display: inline-block;
  border-radius: 2px;
  border-width: 0px;
  border-style: dashed;

  position: relative;
}

.token::before {
  content: attr(data-role);
  font-size: 8px;
  color: RoyalBlue;

  position: absolute;
  top: 0px;
  right: 2px;
}
