@import 'src/styles/meta';

.token {
  display: inline-block;
  border-radius: 2px;
  border-width: 0px;
  border-style: dashed;

  position: relative;
  opacity: $token-bg-opacity;

  &::before {
    content: attr(data-role);
    background-color: inherit;
    color: $input-text-color;

    position: absolute;
    top: -8px - $token-upper-gap;
    right: 0px;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
    padding: 0 2px;
    border-radius: 2px 2px 0px 0px;
  }
}
