@use 'sass:color';

@import 'src/styles/meta';


.token {
  display: inline-block;
  border-radius: $token-border-radius;
  border-width: 0px;
  border-style: dashed;

  position: relative;
  opacity: $token-bg-opacity;

  &::before {
    content: attr(data-role);
    background: inherit;
    color: $input-text-color;

    position: absolute;
    line-height: initial;
    top: -6px - $token-upper-gap;
    right: 0px;
    font-size: 10px;
    padding: 0 2px;
    border-radius: $token-border-radius  $token-border-radius 0px 0px;
  }

  >ul.variants {
    display: none;
    color: black;
    background-color: white;
    opacity: 1;
    list-style: none;
    margin-top: 5px;
    padding: 0px;

    >li.current {
      text-decoration: underline;
      background-color: lightgrey;
    }
  }

  &.focused {
    opacity: 1;

    >ul.variants {
      display: block;
    }
  }
}
